<%= form_for(@post) do |post| %>

	<p>title</p>
	<%= post.text_field :title, class:"book-title"%>

	<p>text</p>
	<%= post.text_area :body, class:"book-body"  %>

	<%= post.submit 'update book',class:"book-bottom" %>

<% end %>
